<html>
<head>
    <title>게시글 업데이트</title>
</head>
<body>
<form method="post" action="/board/boardUpdate">
    <h1>게시판 등록&수정화면</h1>
    <div>
        <table>
            <tr>
                <th>제목</th>
                <td>
                    {{#if board}}
                        <input type="text" name="title" value="{{board.title}}">
                    {{else}}
                        <input type="text" name="title" placeholder="제목을 입력하세요." value="{{board.title}}">
                    {{/if}}
                </td>
            </tr>
            <tr>
                <th>작성자</th>
                <td>
                    {{#if board}}
                        <input type="text" name="writer" value="{{board.writer}}">
                    {{else}}
                        <input type="text" name="writer" placeholder="작성자를 입력하세요." value="{{board.writer}}">
                    {{/if}}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {{#if board}}
                        <textarea name="content" value="{{board.content}}">{{board.content}}</textarea>
                    {{else}}
                        <textarea name="content" placeholder="내용을 입력하세요." value="{{board.content}}"></textarea>
                    {{/if}}
                </td>
            </tr>
            {{#if board}}
                <input type="hidden" name="id" value="{{board.id}}">
            {{/if}}
        </table>
    </div>
    <div>
        {{#if board}}
            <span><button><a href="/board/boardDetail/{{board.id}}">취소</a></button></span>
        {{else}}
            <span><button><a href="/board/boardList">취소</a></button></span>
        {{/if}}
        <span><input type="submit" value="작성"></span>
    </div>
</form>
</body>
</html>

<style type="text/css">
    table {
        width: 500px;
    }

    textarea[name="content"] {
        width: 100%;
        height: 500px;
        resize: none;
    }

    input[type="text"] {
        width: 100%;
    }

    a {
        text-decoration: none;
        color: black;
    }
</style>
