<script>
</script>

<html>
<head>
    <title>게시판 목록화면</title>
</head>

<body>
<div class="main_container">
    <h1>게시판 목록화면</h1>
    <div>정렬선택:
        <select name="sortType" id="sortType">
            <option value="">
                ----
            </option>
            <option value="title">
                제목
            </option>
            <option value="createdAt">
                작성일
            </option>
            <option value="modifiedAt">
                수정일
            </option>
            <option value="id">
                번호
            </option>
        </select>

        검색선택:
        <select name="searchType" id="searchType">
            <option value="">
                ----
            </option>
            <option value="title">
                제목
            </option>
            <option value="writer">
                작성자
            </option>
            <option value="content">
                내용
            </option>
        </select>
        <input type="text" name='keyword' id="searchKeyword" value={{searchkeyword}}>
        <button id='searchBtn'>Search</button>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>번호</th>
                <th class="title">제목</th>
                <th>작성자</th>
                <th>작성날짜</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            {{#each list}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/boards/{{id}}">{{title}}</a></td>
                    <td>{{writer}}</td>
                    <td>{{createdAt}}</td>
                    <td>{{viewCnt}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

    <div>
        <form method="get" action="/boardsForm">
            <input type="submit" value="글쓰기">
        </form>
    </div>

</div>
</body>
</html>

<style>
    body {
        background-color: #eaeaea;
    }

    .main_container {
        width: 1000px;
        margin: auto;
        background-color: white;
    }

    table {
        margin: auto;
    }

    .title {
        width: 600px;
    }

    a {
        text-decoration: none;
        color: black;
    }
</style>