<html>
    <head>
        <title>게시글 상세</title>
    </head>

    <script>
        function clickList() {
            self.location.replace('/board/boardList');
        }

        function clickModify() {
            var formObj = document.frm;
            if(formObj) {
                formObj.action = "/board/boardUpdate/{{board.id}}";
                formObj.submit();
            }
        }

        function delchk(){
            if(confirm("삭제하시겠습니까?")){
               // location.href = "/board/boardDelete/{{board.id}}";
                self.location.replace('/board/boardDelete/{{board.id}}');
                return true;
            } else {
                return false;
            }
        }
    </script>
    <body>
    <form name=frm id="frm" method="get">
    </form>
        <h1>게시판 상세</h1>
        <table>
        <tr>
            <td>글번호 : {{board.id}}</td>
        </tr>
        <tr>
            <td>작성자 : {{board.writer}}</td>
        </tr>
        <tr>
            <td>제목 : {{board.title}}</td>
        </tr>
        <tr>
            <td>내용 : {{board.content}}</td>
        </tr>
        <tr>
            <td>작성일 : {{board.createdAt}}</td>
        </tr>
        <tr>
            <td>수정일 : {{board.modifiedAt}}</td>
        </tr>
        </table>
        <tr>
            <td height="100"></td>
        </tr>
        <tr>
            <button onclick="clickList();">목록</button>
            <input type="button" name="수정" value="수정" onclick="clickModify();"/>
            <button onclick="delchk();">삭제</button>
        </tr>
    </body>
</html>
