<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
</script>

<html>
<head>
    <title>게시글 상세</title>
</head>

<body>
<div class="main_container">
    <h1>게시판 상세</h1>
    <table>
        <tr>
            <th>제목</th>
            <td colspan="3">{{board.title}}</td>
        </tr>
        <tr>
            <th>작성자</th>
            <td>{{board.writer}}</td>
            <th>작성일</th>
            <td>{{board.createdAt}}</td>
            <th>수정일</th>
            <td>{{board.modifiedAt}}</td>
        </tr>
        <td colspan="6">
            {{board.content}}
        </td>
        <tr>
    </table>
    <div class="btns">
        <form method="get" action="/boards" class="list_btn">
            <input type="submit" value="목록">
        </form>
        <form method="get" action="/boards/{{board.id}}/editForm" class="modify_btn">
            <input type="submit" value="수정">
        </form>
        <form method="post" action="/boards/{{board.id}}" class="delete_btn">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="삭제">
        </form>
    </div>
</div>
</body>
</html>

<style>
    body {
        background-color: #eaeaea;
    }

    .main_container {
        width: 1000px;
        margin: auto;
        background-color: white;
    }

    .btns {
        width: 900px;
        display: inline-block;
    }

    .delete_btn {
        float: right;
    }

    .modify_btn {
        float: right;
        margin-right: 20px;
    }

    th {
        width: 100px;
    }

    table {
        width: 900px;
        margin: auto;
    }
</style>